//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  - if (member !== undefined)
    h4 对于成员
      a(href='../' + member.address)  #{member.address}
  h4 未实现
    b  #{title}
    |  的编辑功能。

  h4
    | 请注意，您可以在
    strong
      a(href='/controller/network/' + network.nwid + '#members') 成员
    |  页面上编辑某些属性。